<!-- <div class="container" >
    <h2 class="row justify-content-md-center login">Login</h2>
    <div class="row justify-content-md-center fb">
            <button (click)="facebookLogin()">Login with Facebook</button> -->
            <!-- <button type="button" class="btn" (click)="submitLogin();">Login with facebook</button> -->
        <!-- <button type="button" (click)="signInWithFB()" *ngIf="loggedIn===false" mat-flat-button color="primary">Sign In With Facebook</button> -->
    <!-- </div>
</div> -->
<!-- <div class="container edit" >
        <h2 class="row justify-content-md-left login">Edit your profile</h2>
        <div class="row justify-content-md-right fb" >
            <img class="img" *ngIf="userForm.value.photoUrl" [src]="userForm.value.photoUrl"> -->
<!--             
            <form class="user-form" *ngIf="loggedIn===true"   [formGroup]="userForm">
                <input type="text" formControlName="firstName">
                <input type="text" formControlName="lastName">
                <input class="radio" type="radio" name="sex" value="male" formControlName="sex">
                <input class="radio" type="radio" name="sex" value="female" formControlName="sex">
               
            </form> -->
            
            
        <!-- </div>
        <button class="new-foto" type="button" (click)="newFoto()" color="primary">New Foto</button> -->
        <!-- <button class="sign-out" type="button" (click)="signOut()" *ngIf="loggedIn===true" mat-flat-button color="primary">Sign Out From Facebook</button> -->
<!-- </div> -->
<button (click)="facebookLogin()">Login with Facebook</button>